@import url(icons.css);

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf"),
        url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

input {
    all: unset;
}

button {
    all: unset;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.main,
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    margin-top: auto;
    user-select: none;
}

.start-window {
    border: solid black 3px;
    border-radius: 15px;
    padding: 3rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.mode-selection,
.difficulty-selection-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.mode-selection > button {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    border: solid black 3px;
    border-radius: 8px;
    padding: 0.5rem;
}

.difficulty-selection-div select {
    display: none;
    background-color: white;
    border: solid black 2px;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.players-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.single-player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 3rem;
    font-weight: 500;
    gap: 1rem;
}

.player-name {
    max-width: 250px;
    text-align: center;
    border: dotted;
    border-radius: 20px;
}

.vs-symbol {
    font-size: 6rem;
    font-weight: 600;
}

.button-area {
    display: flex;
    justify-content: center;
}

.info-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 575;
}

.names-board {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: large;
}

.message-board {
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.player-one {
    text-align: right;
    font-style: oblique -25deg;
}

.player-two {
    text-align: left;
    font-style: oblique 25deg;
}

.player-one,
.player-two {
    width: 150px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: 2px solid black;
}

.single-square {
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    font-weight: 300;
    cursor: pointer;
}

.single-square:hover {
    background-color: rgb(249, 247, 244);
}

.btn,
button {
    width: 15rem;
    height: 2.5rem;
    border-radius: 8px;
    border: solid black 3px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-large {
    width: 15rem;
    height: 2.5rem;
}

.btn-small {
    height: 2.5rem;
    width: 10rem;
}

.btn:active,
button:active {
    /* Scaling button to 0.98 to its original size */
    transform: scale(0.98);
    /* Lowering the shadow */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.btn-icn {
    content: "VS";
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-size: cover;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: text-bottom;
}

.icn {
    content: "";
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-size: cover;
    display: inline-block;
    vertical-align: text-bottom;
}
